@mixin chat-style {
    .chat_room {
      height: calc( #{$main-height} - 88px );
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      & .message {
        width: 100%;
        padding: 1rem;
        &.my {
          & .bubble_container {
            justify-content: end;
            align-items: end;
            & .bubble {
              //margin-right: 1rem;
              background-color: rgb(59, 132, 247);
              border: 1px rgb(59, 132, 247) solid;

              & .tail {
                right: 0.2rem;
                border-right: 0.5rem solid rgb(59, 132, 247) !important;
              }
            }
          }
        }
        &.others {
          & .bubble_container {
            justify-content: center;
            align-items: start;
           & .bubble {
             //margin-left: 1rem;
             background-color: rgb(59,59,61);
             border: 1px rgb(59,59,61) solid;
             & .tail {
               left: -0.8rem;
               border-bottom: 0.5rem solid rgb(59,59,61) !important;
             }
           }
          }
        }

        &.my,&.others {
          & .bubble_container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            & .bubble {
              position: relative;
              padding: 1rem;
              border-radius: 0.25rem;
              max-width: 50%;
              min-width: 10%;
              color: white;
              word-break: keep-all;

              & .tail {
                width: 0rem;
                height: 0rem;
                border-top: 0.5rem solid transparent;
                border-left: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
                position: absolute;
                top: 0rem;
                rotate: 45deg;
                transform: translateY(-80%);
                &:after{
                  content: "";
                }
              }
            }
            & .date {
              margin-top: 0.5rem;
            }
          }
        }

      }
      & .notice {
        p {
          background-color: rgba(128, 128, 128, 0.8);
          font-weight: bolder;
          padding: 0.25rem;
          font-size: 0.75rem;
          color: white;
          text-align: center;
          marginp: 0.25rem 0rem;
        }
      }
    }
    .chat_input {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
      background-color: #ecece9;

      .input {
        &_area {
          resize: none;
          width: 100%;
          margin: 0rem 2rem 0rem 0rem;
          padding: 0.5rem;
          font-size: 1rem;
          border-radius: 0.5rem;
        }

        &_btn {
          width: 140px;
          height: 45px;
          font-family: 'Roboto', sans-serif;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-weight: bolder;
          color: #000;
          background-color: #fff;
          border: #efefef 1px solid;
          border-radius: 4.5rem;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease 0s;
          cursor: pointer;
          outline: none;

          &:active {
            color: #fff;
            background-color: #6e79e0;
          }
        }
      }

    }
}